body {
  margin: 50px;
}

li {
  border: 1px solid black;
}

img {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}

p {
  display: inline;
}

.gMap {
  border: 2px solid red;
}

button {
  display: block;
  margin: 10px auto;
}
