* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  overflow-x: hidden;
}

header {
  background: #333333;
  display: flex;
  justify-content: center;
  color: white;
  height: 70px;
  align-items: center;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

.imageLoader {
  margin: 0 15px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 400px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 13px 0 0 90px;
  margin: 30px 0;
  font-size: 16px;
}

.output {
  display: grid;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.imageInfo {
  margin: 0 30px 0 20px;
}

button {
  margin-left: auto;
  margin-right: 50px;
  width: 7em;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background: #333333;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  cursor: pointer;
}

span img {
  width: 200px;
  height: 150px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px 5px black;
}

.mapContainer {
  margin: 0 15px 30px;
  flex: 1;
  height: 60vh;
  position: relative;
}

footer {
  background: #333333;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 0 50px;
  text-align: center;
}

.copyright {
  margin-right: 5px;
}

@media screen and (max-width: 700px) {
  input {
    width: 300px;
    padding: 13px 0 0 35px;
  }
  
  output {
    justify-content: center;
  }

  li {
    padding: 10px 0;
    flex-flow: column;
    margin: 0 auto;
  }

  .imageInfo {
    margin-top: 15px;
    text-align: center;
  }

  button {
    margin: 0 auto;
  }

  footer {
    font-size: 11px;
  }
}
